{% extends 'core/base.html' %}
{% load static %}
{% block title %}Detalles...{% endblock %}
{% block breadcrumb %}Detalle de Factura{% endblock %}
{% block cardtitle %}{% include 'clima/includes/clima_menu.html' %}{% endblock %}
{% block content %}

<div class="container">
      <h1 align='center'>{{object.servicio|upper}}/{{object.serie|upper}}</h1>
			<table width="50%" border="1" class="table table-bordered table-striped">
				<tbody>
				<tr>
					<th scope="row">
					<table border="1" class="table table-bordered table-striped">
					<tbody>
						<tr>
							<th scope="row">Unidad/Servicio</th>
            				<td align="left">{{object.servicio}}</td>				
						</tr>
						<tr>
							<th scope="row"><p align="left">Nombre del Equipo</th>
            				<td align="left">{{object.nombre}}</td>
						</tr>
						<tr>
							<th scope="row"><p align="left">Marca</th>
            				<td align="left">{{object.marca}}</td>
						</tr>
						<tr>
							<th scope="row"><p align="left">Modelo</th>
            				<td align="left">{{object.modelo}}</td>
						</tr>
						<tr>
							<th scope="row"><p align="left">N° Serie</th>
            				<td align="left">{{object.serie}}</td>
						</tr>
            			<tr>
							<th scope="row"><p align="left">Instalacion</th>
            				<td align="left">{{object.fecha}}</td>
						</tr>
            			<tr>
							<th scope="row"><p align="left">Responsable MMTTO</th>
            				<td align="left">{{object.responsable}}</td>
						</tr>
            			<tr>
							<th scope="row"><p align="left">Frecuencia MMTTO</th>
            				<td align="left">{{object.frecuencia}}</td>
						</tr>
						<tr>
							<th scope="row"><p align="left">Condicion del Equipo</th>
            				<td align="left">{{object.estado}}</td>
						</tr>
            			<tr>
							<th scope="row"><p align="left">Fecha de Baja </th>
            				<td align="left">{{object.fecha_baja}}</td>
						</tr>
						<tr>
							<th scope="row"><p align="left">Fecha de Creacion </th>
            				<td align="left">{{object.created}}</td>
						</tr>
            			<tr>
							<th scope="row"><p align="left">Fecha de Modificacion</th>
            				<td align="left">{{object.updated}}</td>
						</tr>
					</tbody>
					</table>
			  </tr>
		  </tbody>
	  </table>
</div>
{% endblock %}
