{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">
<form method="post">{% csrf_token %}
    <div style="text-align:center">
	   <td><img src="{% static 'core/img/logo4.png' %}" width="30%" height="7%" align="center"></td>
       <h1>PAUTA DE MANTENIMIENTO PREVENTIVO</h1>
       <p>INSTALACIONES RELEVANTES PARA LA SEGURIDAD DE LOS PACIENTES</p>
       <p>ESTANQUES DE AGUA</p>
		<label for="date">{{form.fecha}}</label>
		
	</div>
	
	<div class="container">
		<div class="row text-center">
			<table width="90%" border="2" class="table table-bordered table-striped">
			<tbody>
			<th scope="row"><p>Servicio</p></th>
				<td><p>	
					{{form.servicio}}
				</p></td>
					<th scope="row"><p>N Inventario</p></th>
					<td>
					{{form.inventario}}
					</td>
				<tr>
					<th scope="row"><p>Equipo</p>
					</th>
					<td>{{form.nombre}}				</td>
					<th scope="row"><p>Marca</p>
					</th>
					<td>{{form.marca}}
					</td>             
				</tr>
				<tr>
				<th scope="row"><p>Modelo</p></th>
				<td>{{form.modelo}}</td>
					<th scope="row"><p>N° Serie</p></th>
				<td>{{form.serie}}</td>
				</tr>
			</tbody>
			</table>
		</div>	
		<div class="row">
			<table width="90%" border="1" class="table table-bordered table-striped">
				<tbody>
				<tr>
					<th scope="row">
					<table width="100%" border="1" class="table table-bordered table-striped">
					<tbody>
						<tr>
						<th scope="row" width="95%"><p>Limpieza Estanque de Agua Potable</p></th>
						<td>{{form.pauta1}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Limpieza y Sanitización del estanque</p></th>
						<td> {{form.pauta2}} </td>
						</tr>
						<tr>
						<th scope="row"><p>Revisión de sensores: superior – medio- inferior</p></th>
						<td> {{form.pauta3}}  </td>
						</tr>
						<tr>
						<th scope="row"><p>Revisión tablero eléctrico</p></th>
						<td>{{form.pauta4}} </td>
						</tr>
						<tr>
						<th scope="row"><p>Activación de válvulas</p></th>
						<td>{{form.pauta5}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Revisión o mantención de solenoide de llenado</p></th>
						<td>{{form.pauta6}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Revisión funcionamiento Motobombas</p></th>
						<td>{{form.pauta7}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Revisión Control de Presión</p></th>
						<td>{{form.pauta8}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Revisión funcionamiento Extractor</p></th>
						<td>{{form.pauta9}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Revisión calidad del agua en estanque</p></th>
						<td> {{form.pauta11}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Sistema Operativo</p></th>
						<td> {{form.pauta12}}</td>
						</tr>
					</tbody>
					</table>
						<div style="padding-top:10px; text-align:center;">
			      <p>IDENTIFICACION DE PERSONAL CALIFICADO</p>
            </div>
					<table width="100%" border="2" class="table table-bordered table-striped">
						<tbody>
						<tr>
							<th scope="row"></th>
							<td><p>Nombre</p></td>
							<td><p>Firma</p></td>
							<td><p>Timbre</p></td>
						</tr>
						<tr>
							<th scope="row" width="10%"><p>Tecnico 1</p></th>
							<td>{{form.tecnico1}}</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th scope="row"><p>Responsable de MMTTO</p></th>
							<td>{{form.responsable}}</td>
							<td></td>
							<td></td>
						</tr>
						</tbody>
					</table>
					<table width="100%" border="2" class="table table-bordered table-striped">
			<tbody>
      <div style="padding-top:10px; text-align:center;">
			<p>OBSERVACIONES</p>
      </div>
      
				<tr>
				{{form.justificacion}}
				</tr>
			</tbody>
		</table>
					</th>
				</tr>
				</tbody>
			</table>
			</div>
      <div style="text-align:center;">
     		<input type="submit" class="btn btn-primary btn-block" name="submit" id="submit" value="Guardar" style="width : 100%">
      </div>
</form> 
		
      
     <div class="row">
        <div class="text-center col-lg-6 offset-lg-3" style="text-align:center;"></div>
    </div>
  
  </div>
  </div>
</div>
{% endblock %}