{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">
    <div style="padding-top:20px; text-align:center;">
       <h1>PAUTA DE MANTENIMIENTO PREVENTIVO</h1>
       <p>INSTALACIONES RELEVANTES PARA LA SEGURIDAD DE LOS PACIENTES</p>
       <p>SISTEMA DE GASES CLINICOS CENTRALIZADOS</p>
		<label for="date">{{object.fecha}}</label>
	</div>
	
	<div class="container">
		<div class="row text-center">
			<table width="90%" border="2" class="table table-bordered table-striped">
			<tbody>
			<th scope="row"><p>Servicio</p></th>
				<td><p>	
					{{object.servicio}}
				</p></td>
					<th scope="row"><p>N Inventario</p></th>
					<td>
					{{object.inventario}}
					</td>
				<tr>
					<th scope="row"><p>Equipo</p>
					</th>
					<td>{{object.nombre}}				</td>
					<th scope="row"><p>Marca</p>
					</th>
					<td>{{object.marca}}
					</td>             
				</tr>
				<tr>
				<th scope="row"><p>Modelo</p></th>
				<td>{{object.modelo}}</td>
					<th scope="row"><p>N° Serie</p></th>
				<td>{{object.serie}}</td>
				</tr>
			</tbody>
			</table>
		</div>	
		<div class="row">
			<table width="90%" border="1" class="table table-bordered table-striped">
				<tbody>
				<tr>
					<th scope="row">
					<table width="100%" border="1" class="table table-bordered table-striped">
					<tbody>
						<tr>
						<th scope="row" width="95%"><p>Inspeccion de bomba de Oxido Nitroso</p></th>
						<td>{{object.pauta1}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Inspeccion de compresor de AIRE ubicado en zocalo</p></th>
						<td> {{object.pauta2}} </td>
						</tr>
						<tr>
						<th scope="row"><p>Inspeccion de Manifol de Oxido nitroso</p></th>
						<td> {{object.pauta3}}  </td>
						</tr>
						<tr>
						<th scope="row"><p>Inspeccion de compresor de AIRE en terraza segundo piso lado norte</p></th>
						<td>{{object.pauta4}} </td>
						</tr>
						<tr>
						<th scope="row"><p>Limpieza del Recinto</p></th>
						<td>{{object.pauta5}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Inspeccion de filtros</p></th>
						<td>{{object.pauta6}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Recambio de filtros</p></th>
						<td>{{object.pauta7}}</td>
						</tr>
						<tr>
						<tr>
						<th scope="row"><p>Revision de valvulas de corte</p></th>
						<td>{{object.pauta8}}</td>
						</tr>
						<tr>
						<th scope="row"><p>revision de presion de la primera y ultima coneccion de toma mural</p></th>
						<td>{{object.pauta9}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Inspecccion estanque Criogenico</p></th>
						<td>{{object.pauta10}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Revision de valvula principal del gasificador</p></th>
						<td>{{object.pauta11}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Revisar manifold de respaldo 2 unidades</p></th>
						<td>{{object.pauta12}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Reemplazo de Accesorios defectuosos</p></th>
						<td>{{object.pauta13}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Inspeccion de sistema electrico</p></th>
						<td>{{object.pauta14}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Sistema Operativo</p></th>
						<td>{{object.pauta15}}</td>
						</tr>
						
					</tbody>
					</table>
						<div style="padding-top:10px; text-align:center;">
			      <p>IDENTIFICACION DE PERSONAL CALIFICADO</p>
            </div>
					<table width="100%" border="2" class="table table-bordered table-striped">
						<tbody>
						<tr>
							<th scope="row"></th>
							<td><p>Nombre</p></td>
							<td><p>Firma</p></td>
							<td><p>Timbre</p></td>
						</tr>
						<tr>
							<th scope="row" width="10%"><p>Tecnico 1</p></th>
							<td>{{object.tecnico1}}</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th scope="row"><p>Responsable de MMTTO</p></th>
							<td>{{object.responsable}}</td>
							<td></td>
							<td></td>
						</tr>
						</tbody>
					</table>
						<div style="padding-top:10px; text-align:center;">
			      <p>IDENTIFICACION DE PERSONAL CALIFICADO</p>
            </div>
			{% include 'core/includes/firmas.html' %}
				<div style="padding-top:10px;"></div>
			<table width="100%" border="2" class="table table-bordered table-striped">
	<tbody>
		<tr>
		<table width="100%" border="1" class="table table-bordered table-striped">
		<p>OBSERVACIONES</P>
		<td align="left">{{object.justificacion}}</td>
		
		<table width="100%" border="2" class="table table-bordered table-striped">
		<div style="padding-top:10px;"></div>
		<p align="center">Una vez Impreso el documento debe ser validado a traves de los timbres de CC. MMTTO y CR. Logistica</p>
		<tr>
			<td style="height:200px; width:49%" align="center">Timbre CR. Logistica</td>
			<td style="height:200px; width:2%"></td>
			<td style="height:200px; width:49%" align="center">Timbre CC. MMTTO</td>
		</tr>
		</table>
		</table>
		<div style="padding-top:10px;"></div>
		</tr>
	</tbody>
</table>
			</th>
		</tr>
		</tbody>
	</table>
	<div> 
	<div style="padding-top:50px;"></div>
	
</div>
	</div>
</div>
</div>
</div>
</div>
{% endblock %}