{% extends 'core/base.html' %}
{% load static %}
{% block title %}Detalles...{% endblock %}
{% block breadcrumb %}Detalle de Documento{% endblock %}
{% block cardtitle %}{% include 'guia/includes/guia_menu.html' %}{% endblock %}
{% block content %}

<div class="container">
      <h1 align='center'>{{object.nombre|upper}}</h1>
			<table width="50%" border="1" class="table table-bordered table-striped">
				<tbody>
				<tr>
					<th scope="row">
					<table border="1" class="table table-bordered table-striped">
					<tbody>
						<tr>
							<th scope="row">Fecha de Emision</th>
            				<td align="left">{{object.fecha}}</td>				
						</tr>
						<tr>
							<th scope="row"><p align="left">Fecha de Recepcion</th>
            				<td align="left">{{object.fecharecepcion}}</td>
						</tr>
						<tr>
							<th scope="row"><p align="left">Tipo de Documento</th>
            				<td align="left">{{object.documento}}</td>
						</tr>
						<tr>
							<th scope="row"><p align="left">Empresa</th>
            				<td align="left">{{object.nombre}}</td>
						</tr>
						<tr>
							<th scope="row"><p align="left">Numero de Guia o Factura</th>
            				<td align="left">{{object.numero}}</td>
						</tr>
						<tr>
							<th scope="row"><p align="left">Monto</th>
            				<td align="left">{{object.monto}}</td>
						</tr>
            			<tr>
							<th scope="row"><p align="left">Fecha de Creacion</th>
            				<td align="left">{{object.created}}</td>
						</tr>
            			<tr>
							<th scope="row"><p align="left">Fecha de Modificacion</th>
            				<td align="left">{{object.updated}}</td>
						</tr>
						<tr>
							{% if object.Adjuntar_Archivo %}
							<th scope="row">Documento</th>
							<td ><a href="{{ object.Adjuntar_Archivo.url }}">Descargar</a></td>
							{% endif %}
                		</tr>
					</tbody>
					</table>
			  </tr>
		  </tbody>
	  </table>
</div>
{% endblock %}
