{% extends 'core/base.html' %}
{% load static %}
{% block title %}Ingresar{% endblock %}
{% block breadcrumb %}INGRESAR MMTTO{% endblock %}
{% block cardtitle %}{% include 'externo/includes/externo_menu.html' %}{% endblock %}
{% block content %}
<div class="container">
  <div style="text-align:center;">
  <div class="container" style="text-align:left;">
          <table width="90%" border="2" class="table table-bordered table-striped">
           
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
               {{ form.as_table }}
            </table>  
              <div style="padding-top:30px; text-align:center;">
                <input type="submit" class="btn btn-primary btn-block" name="submit" id="submit" value="Guardar" style="width : 100%">
             </div>
             </form>
     <div class="row">
        <div class="text-center col-lg-6 offset-lg-3">
          <div style="padding-top:20px; text-align:center;"> </div>
       </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}