{% extends 'core/base.html' %}
{% load static %}
{% block title %}Facturas{% endblock %}
{% block breadcrumb %}FACTURAS DE GASTOS COMUNES{% endblock %}
{% block cardtitle %}{% include 'comunes/includes/comunes_menu.html' %}{% endblock %}
{% block content %}

<div class="card">
            <div class="card-header">
              <table style="margin: 0 auto;">
                    <form action="{% url 'comunes:filtrocomunes' %}" method="GET"> {% csrf_token %}
                      <td class="active"><input type="text" name="buscar" class="form-control"></td>
                      <td class="active"><input type="submit" value="BUSCAR" class="btn btn-success"></td>
                    </form>
              </table>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th><i class='fas fa-cog' style='font-size:20px;color:black'></i></th>
                  <th><i class='fas fa-arrow-alt-circle-down' style='font-size:20px;color:black'></i></th>
                  <th><i class="fa fa-trash" style="font-size:20px"></i></th>
                  <th>ID</th>
                  <th>N° Factura</th>
                  <th>Tipo</th>
                  <th>Fecha</th>
                  <th>Lectura 1° Periodo</th>
                  <th>Lectura 2° Periodo</th>
                  <th>Fecha de Emision</th>
                  <th>Consumo (watts/M3)</th>
                  <th>Total</th>
                  <th>Sector</th>
                  <th>N° Medidor</th>
                  <th>N° Cliente</th>
                </tr>
                </thead>
                {% for article in object_list|dictsort:"id" reversed %}
                <tbody>
                <tr>
                  <td class="active"><a href="{% url 'comunes:detailcomunes' article.id %}"><i class='fas fa-cog' style='font-size:20px;color:green'></i></a></td>
                  <td class="active"><a href="{% url 'comunes:updatecomunes' article.id %}"><i class='fab fa-adn' style='font-size:20px;color:green'></i></a></td>
                  <td class="active"><a href="{% url 'comunes:deletecomunes' article.id %}"><i class="fa fa-trash" style="font-size:20px;color:red"></i></a></td>
                  <td class="active">{{article.id}}</td>
                  <td class="success">{{article.numerofactura}}</td>
                  <td class="active">{{article.agualuz}}</td>
                  <td class="active">{{article.fecha|date:"d-m-Y"}}</td>
                  <td class="active">{{article.primerperiodo|date:"d-m-Y"}}</td>
                  <td class="active">{{article.segundoperiodo|date:"d-m-Y"}}</td>
                  <td class="active">{{article.fechaemision|date:"d-m-Y"}}</td>
                  <td class="active">{{article.watts}}</td>
                  <td class="active">{{article.total}}</td>    
                  <td class="active">{{article.sector}}</td>
                  <td class="active">{{article.numeromedidor}}</td>
                  <td class="active">{{article.numerocliente}}</td>
                </tr>
                {% empty %}
                        <li>No articles yet.</li>
                {% endfor %}
                </tbody>
                </tfoot>
              </table>
<!-- #############################Paginacion################################### -->
         {% include 'core/includes/paginacion.html' %}   
<!-- #############################Termino de paginacion################################### -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
{% endblock %}