{% extends 'core/base.html' %}
{% block title %}Contacto{% endblock %}
{% load static %}
{% block content %}

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row d-flex align-items-stretch">
            <div class="col-12 col-sm-5 col-md-6 d-flex align-items-stretch">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">
                  CC. Proyectos, Mantenimiento y SSGG
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b>(s)Fernando Ramírez</b></h2>
                      <p class="text-muted text-sm"><b>Cargo: </b> Jefe de Proyectos, MMTTO & SSGG </p>
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Oficina: Terraza Poniente 2° Piso a un costado de bodega de economato</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> 356407/35 2 206407</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-mail-bulk"></i>></i></span>fernando.ramirezs@redsalud.gov.cl</li>
                      </ul>
                    </div>
                    <div class="col-5 text-center">
                      <img src="{% static 'core/img/fernando.jpg' %}" alt="" class="img-circle img-fluid">
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a href="#" class="btn btn-sm bg-teal">
                      <i class="fas fa-comments"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary">
                      <i class="fas fa-user"></i> View Profile
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">
                  Coordinadora de Movilización
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b>Sra. Mirta Vera</b></h2>
                      <p class="text-muted text-sm"><b>Cargo: </b> (s)Administrativo </p>
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Oficina: Terraza Poniente 2° Piso a un costado de bodega de economato</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> 356241/35 2 206241</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-mail-bulk"></i>></i></span>mirta.vera@redsalud.gov.cl</li>
                      </ul>
                    </div>
                    <div class="col-5 text-center">
                      <img src="{% static 'core/img/mirta.jpg' %}" alt="" class="img-circle img-fluid">
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a href="#" class="btn btn-sm bg-teal">
                      <i class="fas fa-comments"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary">
                      <i class="fas fa-user"></i> View Profile
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">
                  Coordinadora de SSGG
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b>Daniela Piña</b></h2>
                      <p class="text-muted text-sm"><b>Cargo: </b> Administrativo </p>
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Oficina: Terraza Poniente 2° Piso a un costado de bodega de economato</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> 356243/35 2 206243</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-mail-bulk"></i>></i></span>ssggsecrecoord.hcv@redsalud.gob.cl</li>
                      </ul>
                    </div>
                    <div class="col-5 text-center">
                      <img src="{% static 'core/img/daniela2.jpg' %}" alt="" class="img-circle img-fluid">
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a href="#" class="btn btn-sm bg-teal">
                      <i class="fas fa-comments"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary">
                      <i class="fas fa-user"></i> View Profile
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">
                  Coordinador de Talleres y SSGG
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b>Stevens Espina</b></h2>
                      <p class="text-muted text-sm"><b>Cargo: </b> Administrativo </p>
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Oficina: Terraza Poniente 2° Piso a un costado de bodega de economato</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> 356242/35 2 206242</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-mail-bulk"></i>></i></span>stevens.espina@redsalud.gov.cl</li>
                      </ul>
                    </div>
                    <div class="col-5 text-center">
                      <img src="{% static 'core/img/stevens.jpg' %}" alt="" class="img-circle img-fluid">
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a href="#" class="btn btn-sm bg-teal">
                      <i class="fas fa-comments"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary">
                      <i class="fas fa-user"></i> View Profile
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!-- END BLOG ENTRIES -->
{% endblock %}