{% extends 'core/base.html' %}
{% block title %}MMTTO{% endblock %}
{% load static %}
{% block content %}

<!-- Blog entry -->
<div class="w3-card-4 w3-margin w3-white">
    <img src="{% static 'core/img/woods.jpg' %}" alt="Norway" style="width:100%">
      <div class="w3-container">
        <h3 align="center"><b>BIENVENIDO AL PORTAL DE MANTENIMIENTO Y SSGG</b></h3>
        <h5><span class="w3-opacity">13 DE NOVIEMBRE, 2019</span></h5>
      </div>
  
      <div class="w3-container">
        <p>Aqui podras encontrar toda la informacion de proyectos, mantenimiento de equipos medicos e industriales, realizar seguimiento de trabajos,
        gastos comunes, facturas, pautas de mantenimiento e inventario, para mayor informacion puede dirigir sus requerimientos al correo <b>fernando.ramirezs@redsalud.gov.cl</b></p>
      </div>
    </div>
  <!-- END BLOG ENTRIES -->
{% endblock %}