{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">
<form method="post">{% csrf_token %}
    <div style="text-align:center;">
       <h1>PAUTA DE MANTENIMIENTO PREVENTIVO</h1>
       <p>EQUIPOS DE SOPORTE VITAL</p>
       <p>INCUBADORA FIJA/TRANSPORTE</p>
		<label for="date">{{object.fecha}}</label>
	</div>
	
	<div class="container">
		<div class="row text-center">
			<table width="90%" border="2" class="table table-bordered table-striped">
			<tbody>
			<th scope="row"><p>Servicio</p></th>
				<td><p>	
					{{object.servicio}}
				</p></td>
					<th scope="row"><p>N Inventario</p></th>
					<td>
					{{object.inventario}}
					</td>
				<tr>
					<th scope="row"><p>Equipo</p>
					</th>
					<td>{{object.nombre}}				</td>
					<th scope="row"><p>Marca</p>
					</th>
					<td>{{object.marca}}
					</td>             
				</tr>
				<tr>
				<th scope="row"><p>Modelo</p></th>
				<td>{{object.modelo}}</td>
					<th scope="row"><p>N° Serie</p></th>
				<td>{{object.serie}}</td>
				</tr>
			</tbody>
			</table>
		</div>	
		<div class="row">
			<table width="90%" border="1" class="table table-bordered table-striped">
				<tbody>
				<tr>
					<th scope="row">
					<table width="100%" border="1" class="table table-bordered table-striped">
					<tbody>
						<tr>
						<th scope="row" width="95%"><p>Consultar con usuarios, comportamiento del equipo</p></th>
						<td>{{object.pauta1}}</td>
						
						</tr>
						<tr>
						<th scope="row"><p>Inspección externa del equipo, en busca de daños o pérdidas del hardware</p></th>
						<td> {{object.pauta2}} </td>
						
						</tr>
						<tr>
						<th scope="row"><p>Revisión del cable poder, el cordón y enchufe no deben tener signos de daño</p></th>
						<td> {{object.pauta3}}  </td>
						
						</tr>
						<tr>
						<th scope="row"><p>Inspeccionar el interior en busca de corrosión o pérdida de piezas. Repara de ser necesario.</p></th>
						<td>{{object.pauta4}} </td>
						</tr>
						<tr>
						<th scope="row"><p>Inspeccionar los elementos eléctricos, signos de excesivo calor o deterioro</p></th>
						<td>{{object.pauta5}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Verificar la exactitud de los indicadores de temperatura y la temperatura de la incubadora.</p></th>
						<td>{{object.pauta6}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Inspeccionar condiciones de todos los cobertores plásticos. Verificar la integridad del ensamblaje de la cama.</p></th>
						<td>{{object.pauta7}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Inspeccionar calefactor y cableado en busca de daños eléctricos o mecánicos.</p></th>
						<td>{{object.pauta8}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Inspeccionar mecanismos de transporte incluyendo frenos, en caso de ser de transportable.</p></th>
						<td>{{object.pauta9}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Verificar la correcta operación de todos los botones, controles, pantallas e indicadores.</p></th>
						<td> {{object.pauta10}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Verificar la correcta operación de la unidad en todas sus modalidades.</p></th>
						<td>{{object.pauta11}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Equipo Operativo</p></th>
						<td>{{object.pauta12}}</td>
						</tr>
					</tbody>
					</table>
					<div style="padding-top:20px;"></div>
					{% include 'core/includes/firmas.html' %}
						<div style="padding-top:10px;"></div>
					<table width="100%" border="2" class="table table-bordered table-striped">
			<tbody>
				<tr>
				<table width="100%" border="1" class="table table-bordered table-striped">
				<p>OBSERVACIONES</P>
				<td align="left">{{object.justificacion}}</td>
				
				<table width="100%" border="2" class="table table-bordered table-striped">
				<div style="padding-top:10px;"></div>
				<p align="center">Una vez Impreso el documento debe ser validado a traves de los timbres de CC. MMTTO y CR. Logistica</p>
				<tr>
					<td style="height:200px; width:49%" align="center">Timbre CR. Logistica</td>
					<td style="height:200px; width:2%"></td>
					<td style="height:200px; width:49%" align="center">Timbre CC. MMTTO</td>
				</tr>
				</table>
				</table>
				</tr>
			</tbody>
		</table>
					</th>
				</tr>
				</tbody>
			</table>
			<div> 
			
		</div>
			</div>
    </div>
  </div>
  </div>
</div>
{% endblock %}