{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<link href="{% static 'pages/css/custom_ckeditor.css' %}" rel="stylesheet">
{% if request.user.is_staff %}
<!-- Navbar (sit on top) -->
<nav style="margin:-2.5% 0;">
  <div class="container-fluid" >
      <a class="glyphicon glyphicon-home" href="{% url 'kilosservicio:kilosservicio' %}"><i class='fas fa-clipboard-list' style='font-size:20px;color:red'></i></a>
      <a class="glyphicon glyphicon-plus" href="{% url 'kilosservicio:createkilosservicio' %}"><i class='fas fa-plus-circle' style='font-size:20px;color:red'></i></a>
      <a class="glyphicon glyphicon-plus" href="{% url 'kilosservicioexcel' %}"><i class='fas fa-arrow-alt-circle-down' style='font-size:20px;color:red'></i></a>
  </div>
</nav>

{% endif %}

