{% extends 'core/base.html' %}
{% load static %}
{% block title %}Odenes de Trabajo{% endblock %}
{% block breadcrumb %}LISTADO DE ORDENES DE TRABAJO{% endblock %}
{% block cardtitle %}{% include 'ordenes/includes/ordenes_menu.html' %}{% endblock %}
{% block content %}

<div class="card">
            <div class="card-header">
              <table style="margin: 0 auto;">
                    <form action="{% url 'ordenes:filtroordenes' %}" method="GET"> {% csrf_token %}
                      <td class="active"><input type="text" name="buscar" class="form-control"></td>
                      <td class="active"><input type="submit" value="BUSCAR" class="btn btn-success"></td>
                    </form>
              </table>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th><i class='fas fa-cog' style='font-size:20px;color:black'></i></th>
                  <th><i class='fas fa-arrow-alt-circle-down' style='font-size:20px;color:black'></i></th>
                  <th><i class="fa fa-trash" style="font-size:20px"></i></th>
                  <th>ID</th>
                  <th>N° FOLIO</th>
                  <th>Fecha de OT</th>
                  <th>Detalle</th>
                  <th>Servicio Origen</th>
                  <th>Estado OT</th>
                  <th>Valor Mano Obra</th>
                  <th>Valor Materiales</th>
        
                </thead>
                {% for article in object_list|dictsort:"id" reversed %}
                <tbody>
                <tr>
                  <td class="active"><a href="{% url 'ordenes:detailordenes' article.id %}"><i class='fas fa-cog' style='font-size:20px;color:green'></i></a></td>
                  <td class="active"><a href="{% url 'ordenes:updateordenes' article.id %}"><i class='fab fa-adn' style='font-size:20px;color:green'></i></a></td>
                  <td class="active"><a href="{% url 'ordenes:deleteordenes' article.id %}"><i class="fa fa-trash" style="font-size:20px;color:red"></i></a></td>
                  <td class="active">{{article.id}}</td>
                  <td class="success">{{article.numerofolio}}</td>
                  <td class="active">{{article.fecha|date:"d-m-Y"}}</td>
                  <td class="active">{{article.detalle}}</td>
                  <td class="active">{{article.serviciosolicita}}</td>
                  <td class="active">{{article.estadoOT}}</td>
                  <td class="active">{{article.valormano}}</td>
                  <td class="active">{{article.valormateriales}}</td>  
        
                </tr>
                {% empty %}
                        <li>No articles yet.</li>
                {% endfor %}
                </tbody>
                </tfoot>
              </table>
<!-- #############################Paginacion################################### -->
         {% include 'core/includes/paginacion.html' %}   
<!-- #############################Termino de paginacion################################### -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
{% endblock %}